.container-menu-Almz {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin-left: 30px;
    margin-top: 25px;
}

.centerbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}