/* You can add global styles to this file, and also import other style files */


/* Estilos Generales */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 5px;
    font-family: 'Quicksand', sans-serif;
}

.main-g {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btnsT {
    background-color: white;
    border-radius: 4px;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
}

.btnsT:hover {
    background-color: #e7e7e7;
}

.puntero {
    cursor: pointer;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/*Contenedor general de menu -burguer*/

.containert {
    display: flex;
    flex-direction: row;
}


/*Contenedor general de pedidos*/

.containerP {
    display: flex;
}